---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "2025 - ∞",
    title: "Trainee Full Stack",
    company: "Myhd.cl",
    description:
      "Responsable de la creacion de diversos modulos para Ecommerce utilizando tecnologías como HTML, CSS y Node.js para la integración de micro-servicios en el backend.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
