---
const personalImageAlt = "Lucas"
import Badge from "@/components/Badge.astro"
import LinkedInIcon from "@/components/icons/LinkedIn.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
import GitIcon from "./icons/GitHub.astro"
import CvIcon from "./icons/Curriculum.astro"

---

<div class="max-w-xl">
  <div class="flex gap-4 mb-4">
    <img
      class="rounded-full shadow-lg size-16"
      src="/yo.webp"
      alt={personalImageAlt}
    />
    <a
      href="mailto:lucas.mb6@gmail.com"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
    <Badge>
      <MailIcon class="size-4" style="margin-right: 0.5rem;" />
      Contácteme por email
    </Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
  >
    &lt; Lucas Melendez /&gt;
  </h1>
  <p
    class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Analista Programador Computacional </strong><br>
    <strong style="color: #ffffff;">Desarrollador Full Stack</p> <strong>
  </p>
  <nav class="flex flex-wrap gap-4 mt-8">
    <SocialPill href="https://github.com/lucassmelendez">
      <GitIcon class="size-4" />
      GitHub
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/lucasmelendez/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
    <SocialPill>
      <CvIcon class="size-4" />
      Descargar CV
    </SocialPill>
  </nav>
</div>
